<div class="input-container">
  <form [formGroup]="todoForm">
    <mat-form-field style="text-align: center" appearance="outline">
      <mat-label>Task</mat-label>
      <input matInput type="text" maxlength="20" #newItem placeholder="Add a task.." formControlName="item" />
    </mat-form-field>

    <mat-error *ngIf="
      todoForm.get('item')?.invalid &&
      (todoForm.get('item')?.dirty || todoForm.get('item')?.touched)
    ">
      Please add a task.
    </mat-error>
  </form>
  <br>
  <button class="add-button" mat-raised-button color="primary" [disabled]="todoForm.invalid"
    (click)="addItem(newItem.value);resetForm()">
    Add Task
  </button>
</div>
<br>
<br>
<div cdkDropListGroup>
  <div class="example-container">
    <h2>To-Do</h2>

    <div cdkDropList [cdkDropListData]="items" class="example-list" (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let item of items; let i = index" style="text-transform: capitalize" cdkDrag>
        {{ item.description }}
        <button mat-icon-button color="warn" (click)="deleteItem(i)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div>
  </div>
  <div class="example-container">
    <h2>In-Progress</h2>
    <div cdkDropList [cdkDropListData]="progress" class="example-list" (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let item of progress; let p = index" style="text-transform: capitalize" cdkDrag>
        {{ item.description }}
        <div class="icons-box">
          <button mat-icon-button color="warn" (click)="deleteProgress(p)">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="example-container">
    <h2>Done</h2>

    <div cdkDropList [cdkDropListData]="done" class="example-list" (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let item of done; let d = index" style="text-transform: capitalize" cdkDrag>
        {{ item.description }}
        <div class="icons-box">
          <button mat-icon-button color="warn" (click)="deleteDoneItem(d)">
            <mat-icon>delete</mat-icon>
          </button>
          <button mat-icon-button color="accent">
            <mat-icon>check_circle</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>